[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring

[MESSAGES CONTROL]
disable=
    E1101, # no-member for Django models 